<details>
	<summary>${campaign.name} (${new Date(campaign.startdate).toLocaleDateString()} - ${new Date(campaign.enddate).toLocaleDateString()})</summary>
	<button class="is-danger" @click:delegate="action:delete-campaign">Kamagne löschen <span class="material-icons">delete</span></button>
	<button class="is-highlight" @click:delegate="action:create-team">Neues Team</button>
	<button class="is-highlight" @click:delegate="action:member-registrate">anmelden</button>
	<button class="is-highlight" @click:delegate="action:show-registrations">Anmeldungen anzeigen</button>
	<fieldset>
		<legend>Teams</legend>
		<jstl jstl-if="${!!campaign?.payload?.teams}" jstl-foreach="${campaign.payload.teams}" jstl-foreach-var="team">
			<x-team team-id="${team}" campaign-id="${campaign.id}"></x-team>
		</jstl>
	</fieldset>
</details>
