<details>
    <summary>${name} [${tag}]</summary>
    <div class="table" jstl-foreach="${members}" jstl-foreach-var="member">
        <div class="table-head" jstl-if="${status.index == 0}">
            <h3 style="width: 15ch;">Rang</h3>
            <h3 style="width: 100%;">Name</h3>
            <h3 style="width: 15ch;">WTR</h3>
        </div>
        <div class="table-row">
            <jstl jstl-choose>
                <div jstl-when="${member.role == 'combat_officer'}" style="width: 15ch;">**</div>
                <div jstl-when="${member.role == 'executive_officer'}" style="width: 15ch;">****</div>
                <div jstl-when="${member.role == 'personnel_officer'}" style="width: 15ch;">****</div>
                <div jstl-when="${member.role == 'commander'}" style="width: 15ch;">Chef</div>
                <div jstl-otherwise style="width: 15ch;"></div>                
            </jstl>
            <div style="width: 100%;">${member.name}</div>
            <div style="width: 15ch;">${member.wtr}</div>
        </div>
    </div>
</details>